.footer {
  box-sizing: border-box;
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  padding: 60px 80px;
  color: #fff;
}

.footer__columns {
  display: flex;
}

.footer__column_content_social {
  margin-left: 80px;
  margin-left: auto;
}

.footer__logo {
  width: 105px;
  height: 39px;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  margin: 0 0 16px;
}

.footer__list-item:last-child {
  margin-bottom: 0;
}

.footer__column-heading {
  margin: 0 0 20px;
  font-size: 16px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
}

.footer__column-link {
  color: white;
  font-size: 16px;
  line-height: 20px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.footer__column-link:hover {
  color: #c1c1c1;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

.footer__social-icon:hover {
  transition: linear;
  color: #c1c1c1;
}

.footer__copyright {
  margin: 108px 0 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
