.form {
  max-width: 385px;
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__label {
  margin-bottom: 32px;
  display: block;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  border-radius: 2px;
  gap: 12px;
}

.form__checkbox {
  width: 20px;
  height: 20px;
}

.form__input {
  display: block;
  width: 100%;
  padding: 0 15px 0 15px;
  box-sizing: border-box;
  margin-top: 8px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  height: 60px;
  border-radius: 4px;
}

.form__input::placeholder {
  color: #838383;
}

.form__button {
  width: 100%;
  padding: 0;
  margin-bottom: 32px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  line-height: 20px;
  height: 60px;
  background-color: #2f80ed;
  border-radius: 4px;
  background-image: url(../images/check.svg);
}

.form__button:hover {
  opacity: 70%;
  transition-timing-function: linear;
}
