.header {
  box-sizing: border-box;
  padding: 30px 80px 40px;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #fff url(../images/background_header.svg) no-repeat center/cover;
  z-index: 1;
  position: relative;
}

.header__title {
  max-width: 729px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  margin: 183px 0 0;
  z-index: 1;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  max-width: 638px;
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 28px 0 0;
}

.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  right: 5px;
  top: 124px;
  z-index: -1;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  align-items: flex-end;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__paragraph {
  margin: 0;
  color: #6f6f6f;
}
